@import "src/styles/mixins"

.layout
  min-height: 100vh
  display: grid
  grid-template-rows: auto 1fr auto
  grid-template-columns: 100%

.nav

  &__link
    color: $c-font
    padding: 0 3px 15px 3px
    margin-right: 21px

    &_active
      @extend .nav__link
      color: white
      border-bottom: 2px solid white

    &:hover
      color: white

  a:last-child
    margin-right: 0